footer {
    background-color: #00FF00;
    height: 60px;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: 0;
}
