header {
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-position: left, 20px;
    height: 70px;
    border-bottom: 1px solid #CCCCCC;
    background-image: url("../images/logo.png");
  }
