header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}
#logo {
    background-image: url("../images/logo.png");
    height: 100%;
    width: 142px;
    background-repeate: no-repeat;
    background-position: center;
    margin-left: 20px;
}
