body {
    margin: 0px;
    padding: 0px;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue", Hevetica, Arial,sans-serif;
}
.container {
    max-Width: 1000px;
    margin-right: auto;
    margin_left: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
