body {
    margin: 0px;
    padding: 0px;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue", Hevetica, Arial,sans-serif;
    desplay: flex;
    flex-direction: column;
}

.container {
    max-Width: 1000px;
    margin: 30px auto;
    flex: 1 0 auto;
}
